.btn {
  padding: 10px 15px;
  display: inline-block;
}

.btn.btn-primary {
  border-radius: 5px;
  background: #17bebb;
  color: #ffffff;
}

.btn.btn-white {
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
}

.btn.btn-white-outline {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn.btn-black-outline {
  border-radius: 0px;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: 700;
}

.btn-custom {
  color: rgba(0, 0, 0, .3);
  text-decoration: underline;
}