html,
body {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background: #f1f1f1;
}

* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

div[style*="margin: 16px 0"] {
  margin: 0 !important;
}

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  margin: 0 auto !important;
}

img {
  -ms-interpolation-mode: bicubic;
}

a {
  text-decoration: none;
}

*[x-apple-data-detectors],
.unstyle-auto-detected-links *,
.aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.a6S {
  display: none !important;
  opacity: 0.01 !important;
}

.im {
  color: inherit !important;
}

img.g-img+div {
  display: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  u~div .email-container {
    min-width: 320px !important;
  }
}

@media only screen and (min-width: 375px) and (max--width: 413px) {
  u~div .email-container {
    min-width: 375px !important;
  }
}

@media only screen and (min-width: 414px) {
  u~div .email-container {
    min-width: 414px !important;
  }
}

.primary {
  background: #17bebb;
}

.table-bt {
  background: #ffffff;
  width: 100%;
}

.bg_light {
  background: #f7fafa;
}

.bg_black {
  background: #000000;
}

.bg_dark {
  background: rgba(0, 0, 0, .8);
}

.email-section {
  padding: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  margin-top: 0;
  font-weight: 400;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, .4);
}

a {
  color: #17bebb;
}

/*LOGO*/

.logo h1 {
  margin: 0;
}

.logo h1 a {
  color: #17bebb;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

/*HERO*/
.hero {
  position: relative;
  z-index: 0;
}

.hero .text {
  color: rgba(0, 0, 0, .3);
}

.hero .text h2 {
  color: #000;
  font-size: 34px;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.2;
}

.hero .text h3 {
  font-size: 24px;
  font-weight: 200;
}

.hero .text h2 span {
  font-weight: 600;
  color: #000;
}


/*PRODUCT*/
.product-entry {
  display: block;
  position: relative;
  float: left;
  padding-top: 20px;
}

.product-entry .text {
  width: calc(100% - 125px);
  padding-left: 20px;
}

.product-entry .text h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.product-entry .text p {
  margin-top: 0;
}

.product-entry img,
.product-entry .text {
  float: left;
}

ul.social {
  padding: 0;
}

ul.social li {
  display: inline-block;
  margin-right: 10px;
}

/*FOOTER*/

center {
  width: 100%;
  background-color: #f1f1f1;
}

.email-container {
  max-width: 600px;
  margin: 0 auto;
}

.em-con-table {
  margin: auto;
}

.table-bt {
  padding: 1em 2.5em 0 2.5em;
}

.logo {
  text-align: left;
}

.hero {
  padding: 2em 0 2em 0;
}

.table {
  padding: 0 2.5em;
  text-align: left;
}

.table-two {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.tts {
  text-align: left;
  padding: 0 2.5em;
  color: #000;
  padding-bottom: 20px;
  width: 80%;
}

.tts-two {
  text-align: right;
  padding: 0 2.5em;
  color: #000;
  padding-bottom: 20px;
}

.table-thee {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.tts-thee {
  text-align: left;
  padding: 0 2.5em;
}

.tts-img {
  width: 100px;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  display: block;
}

.price {
  color: #000;
  font-size: 20px;
}

.tr-btn {
  text-align: center;
  padding: 1em 2.5em;
}

.reset {
  border-spacing: 0;
  padding: 0;
  width: 100%;
}

.w-one {
  width: 80%;
}

.w-two {
  width: 20%;
}

.valign {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top;
}