.main {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  padding-bottom: 40px;
}

.total-commander-title {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  position: relative;
}

.content-position {
  width: 50%;
}

.content-way-item {
  font-size: 13px;
  width: 220px;
  height: 20px;
}

.container {
  margin-top: 20px;
  display: block;
  width: 220px;
  height: 130px;
  border: 2px solid rgb(41, 47, 53);
  font-size: 20px;
  position: relative;
}

.container-item-description {
  float: right;
  color: rgb(24, 23, 23);
}

.container.selected .container-item.selected {
  background-color: aqua;
}