body {
    margin: 0;
    padding: 0;
    display: flex;
}

iframe {
    display: none;
}

iframe.active {
    display: block;
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.container-video {
    display: flex;
}

.video {
    width: auto;
    height: auto;
}

.video iframe {
    border-radius: 15px;
}

.video-button {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.video-button-js {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #8d8282;
    background: #aca9a9;
    color: rgb(0, 0, 0);
    outline: none;

}

.comment-block {
    height: auto;
    width: 650px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #8d8282;
    margin-left: 0px;
    background: #aca9a9;
    border-radius: 10px;
    padding-left: 10px;
    display: none;
}

.comment-img{
    width: 30px;
    height: auto;
    padding-right: 15px;
}

.comment-block.active {
    display: block;
}

.name {
    color: rgb(22, 20, 20);
    font-family: arial;
}

.text {
    color: rgb(19, 16, 16);
}

.creating-comment {
    display: block;
    margin-top: 20px;
}

.comment-form {
    width: 100px;
    height: auto;
}

.comment-name {
    outline: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #6E6D6D;
}

.comment-discription {
    outline: none;
    margin-top: 10px;
    width: 650px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #6E6D6D;
}

.comment-button {
    background: #444141;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    border: 2px solid #8d8282;
    border-radius: 10px;
    color: rgb(255, 254, 254);
    margin-left: 300px;
}

.title {
    margin-top: 30px;
    color: black;
    display: flex;
    justify-content: center;
    font-family: arial;
}