body {
    margin: 0;
    padding: 0;
    display:flex;
}
iframe{
    display:none;
    }
iframe.active{
    display:block;
}
.container {
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 100px;
}
.con-red {
    display: flex;
}
.video {
    width:auto ;
    height: auto;
}
.vid-red {
    border-radius: 20px;
}
.video-button {
    display: flex;
    flex-direction:column;
    margin-left: 45px;
}
.v-bt {
    margin-top: 20px;
    margin-left: 10px;
    width:100px ;
    height:55px;
    border-radius: 20px;
    border:5px solid #242222;
    background: #444141;
    color:white;
    
}
.coment {
    margin-top: 20px;
    box-shadow: #272121;
    margin-left: 0px;
    background: #3F3D3D;
    border-radius:10px;
    padding-left:10px; 
    display:none;
}
.coment.active {
    display:block
}
.com-name {
    color: white;
    font-family: arial;
}
.com-text {
    color: white;
}
.coment1 {
    display: block;
    margin-top:20px;
    margin-left: 20px;
}
.com-form {
    width: 100px;
    height: auto;
}
.comm-name {
    outline: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #6E6D6D;
}
.comm-dis {
    outline: none;
    margin-top: 10px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid #6E6D6D;
}
.comm-bt {
    background: #444141;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    border: 2px solid #000000;
    border-radius:10px; 
    color:white;
}
.ch1 {
    margin-top: 20px;
    color:black;
    display: flex;
    justify-content: center;
    font-family: Arial;
}