body {
  margin: 0;
  padding: 0;
}

.color {
  border: 5px solid rgb(107, 106, 106);
}

.name {
  display: flex;
  margin-top: -18px;
  font-family: arial;
  font-weight: 400;
  font-size: 22px;
  color: rgb(104, 104, 104);
}

.name-number {
  margin-left: 10px;
  font-family: arial;
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 0;
}

.calendar {
  display: block;
}

.day {
  text-align: end;
  color: dimgray;
}

.day-number {
  text-align: end;
  font-size: 35px;
  border: 1px solid black;
  padding-top: 0;
  width: 219px;
  height: 97px;
}

.day-number-color {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

.position {
  position: relative;
}

.day-number-holiday {
  font-size: 20px;
  color: red;
}

.day-number-month {
  font-size: 30px;
  color: rgb(54, 53, 53);
}

.freedom {
  background-color: rgb(224, 222, 222);
}

.day-old {
  color: rgb(61, 61, 61);
}

.button {
  width: 70px;
  height: auto;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.night {
  background-color: black;
  color: white;
}

.night .day-number {
  border: 1px solid rgb(255, 255, 255);
  width: 219px;
}

.button-input {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.night .day-old {
  color: chartreuse;
}

.night .day {
  color: aqua;
}

.night .name {
  color: gold;
}

.night .freedom {
  background-color: darkred;
}

.night .day-number-holiday {
  color: white;
}

.night .day-number-month {
  color: white;
}