body {
    margin: 0;
    padding: 0;
}
.order-confirmation {
    margin:auto;
    display: flex;
    justify-content:space-around;
    color:green;
}
.order-content{
    margin-top: 10px;
    border: 2px solid red;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    outline: none;
}
.order-button {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background:aqua;
}
.order-sms {
    width: 20px;
    height: 20px;
   
}
